@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    background-color: #24252A;
}
li,a,button{
    font-family: "montswerrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
}
img{
    height: 100px;
    width: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links li{
    display: inline-block;
    padding: 0 20px;
}
.nav_links li a {
    
    transition: all 5s ease;
}
.nav_links li a:hover {
    color: yellow;
    
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 2s ease;
    cursor: pointer;

}
.logo{
    cursor: pointer;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color:rgba(0,136,169,1);
}