@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    background-color: #90a3ff;
}
li,a,button{
    font-family: "montswerrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration:none;
}
img{
    height: 100px;
    width: 100px;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    
}
.nav_links li{
    display: inline-block;
    padding: 0 20px;
}
.nav_links li:nth-child(1){
   padding: 0 20px 0 0;
   
}
.nav_links li a {
    
    transition: all 5s ease;
}
.nav_links li a:hover {
    color: yellow;
    
}
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 2s ease;
    cursor: pointer;

}
.logo{
    cursor: pointer;
    
    order: 3;
    margin-left: auto;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color:rgba(0,136,169,1);
}
nav{
    order:1;
    
}
.cta{
    order: 2;
}

/* ................... */
