.title:hover{ /*psudoselector*/
    color: red;
}
.subtitle{
    color: blue;
}
li:nth-child(2){/*last-child , first-child*/
    color:green;
}
li:only-child{/* if there is only one child*/
    color:purple;
}
#google-link:link{
    color: green;
}
#google-link:visited{
    color:red;
}
/* advanced selectors */
h3 + h4 { /*every h4 tag that follow h3*/
    color: rosybrown;
}
textarea ~ button{/*under the same parent */
    color: brown;
}
ul > li{/* li which is direct child of ul*/
    color: blueviolet;
}
ul li { /*li which follow under ul if it is child of ol also*/
    color: red;
}