:root{
    --black: #283544;
    --white: #f8f6f6;
    --grey: #ececec;
}

body {
    /* background-color: red; */
    background: url('../siteCopyDesign/img/bgimage.jpg');
    background-repeat: repeat-X;
    /* background-repeat: repeat-y; */
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-color: var(--grey);
  }
  .container{
    max-width: 90% !important;
    margin: auto;
  }

  .container ul {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0px;

  }
  .container a{
    text-decoration: none;
    color: var(--black);
    text-shadow: 0px 1px 1px #fff;
    font-weight: bold !important;

  }
  .container li{
    margin-right: 30px;
  }

  .logo img{
    padding: 0px;
    margin-top: 5px;
  }

  /* ----------------- */
  table{
    width: 100%;
    padding: 10px;
    background-color: rgb(176, 55, 31, 1);
  }
  tbody{
    color: white;
  }
  .container tbody span a{
    color: white;
  }
  tbody span:nth-child(2),tbody span:nth-child(3){
    float: right;
  }
  .head-footer{
    padding: 29px 0px;
    display: flex;
    flex-direction: column-reverse;
  }
  .navigati{
    padding: 10px 0px;
  }
  .nav-icon{
    
  }